body, html {
	background: #e8e8e8 !important;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
	border-radius: 10px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
	background: rgba(0,0,0,0.7);
}

.white {
	color: #FFFFFF;
}

.hand {
	cursor: pointer;
}

.section-background {
	background-color: #e8e8e8;
}

.center-icon {
	display: block;
}

.text-center {
	text-align: center;
}

.spacing-create {
	height: 50px;
}

.invisible-button {
	background: none;
	border: none;
}

md-card md-card-title {
	padding: 24px 16px 16px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

md-card .md-headline {
	font-size: 18px;
}

md-bottom-sheet {
	position: fixed;
}
md-button, button{
	outline:none !important;
}
.noData{
	color: #727272;
	font-size: 18px;
	text-align: center;
}
/*loading bar*/

#loading-bar .bar {
	background: #7C4DFF;
	height: 4px;
}

#loading-bar-spinner .spinner-icon {
	width: 18px;
	height: 18px;
	border: solid 4px transparent;
	border-top-color: #7C4DFF;
	border-left-color: #7C4DFF;
	border-radius: 10px;
}

.big-fab {
	height: 65px !important;
	width: 65px !important;
}

.wordwrap {
	/* wrap long text and urls */
	white-space: pre;
	/* CSS 2.0 */
	white-space: pre-wrap;
	/* CSS 2.1 */
	white-space: pre-line;
	/* CSS 3.0 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	white-space: -moz-pre-wrap;
	/* Mozilla */
	word-wrap: break-word;
	/* IE 5+ */
}

i.md-primary {
	color: #FF9800;
}


/*enable scroll outside dialog*/

.md-dialog-custom {
	max-height: none;
}

.md-dialog-container {
	overflow-y: auto;
}


/*scroll outside end*/


/*login or signup*/

md-tabs.md-hue-1.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]), md-tabs.md-hue-1.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
	color: #B6B6B6;
}

md-tabs.md-hue-1.md-primary md-ink-bar, md-tabs md-ink-bar {
	color: #7C4DFF !important;
	background-color: #7C4DFF !important;
	height: 4px;
}

md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]), md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
	color: #FFFFFF;
}

md-tabs.md-primary md-ink-bar, md-tabs md-ink-bar {
	color: #7C4DFF !important;
	background-color: #7C4DFF !important;
}


/*login or signup end*/


/*navbar*/

.userimage {
	width: 48px;
	height: 48px;
	cursor: pointer;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	border: 0px;
	outline: none;
}

.userimage:hover {
	-webkit-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
	-moz-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
	border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
	-webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .4);
	outline: none;
}

.logo {
	margin-top: 0px;
	width: 50px;
	height: 50px;
}


/*navbar end*/


/*sidebar*/

md-sidenav {
	position: fixed !important;
}

md-backdrop {
	position: fixed;
}

.userimage-nav {
	width: 130px;
	height: 130px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
	border: 3px solid #FF9800;
	margin-bottom: 35px;
}

.sidenav-img-background {
	background: url('/assets/images/profile.png');
	height: 400px;
	padding-top: 40px;
}

.sidenav-username {
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 10px;
}

.sidenav-userhandle {
	color: #FFE0B2;
	font-size: 15px;
	margin-bottom: 10px;
}

.sidenav-buttons {
	margin-top: 20px;
}

.sidenav-buttons .md-button {
	position: relative;
	height: 40px;
}

.sidenav-buttons .md-button img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 16px;
	margin: auto;
	height: 30px;
}

.sidenav-buttons .md-button span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60px;
	margin: auto;
	height: 30px;
	text-transform: capitalize;
}


/*sidebar end*/


/*Create course*/

.createCourseMargin {
	margin-top: 10%;
	margin-bottom: 10%;
}

.input-area {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
}

.image-upload > input {
	display: none;
}

.image-upload img {
	height: 250px;
	width: auto;
	max-width: 100%;
}

.image-upload:hover .image-overlay-content {
	opacity: 0.5;
	cursor: pointer;
}

.select-cost {
	color: #999999;
	font-size: 14px;
	margin-top: 20px;
}

.coursePrice p {
	color: #FF9800;
}

.coursePrice {
	margin-top: 25px;
}

.createCourseStepIcons {
	position: fixed;
	top: 50%;
}

.fix-left {
	left: 5%;
	z-index: 10;
}

.fix-right {
	right: 5%;
}


/*Create course end*/


/*dashboard*/

.dash-add {
	position: fixed;
	right: 5%;
	bottom: 15px;
	color: white;
}


/*dashboard end*/


/*add concepts */


/*sidebar*/

.simpleDemo ul[dnd-list], .simpleDemo ul[dnd-list] > li {
	position: relative;
}

.simpleDemo ul[dnd-list] {
	min-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.simpleDemo ul[dnd-list] .dndDraggingSource {
	display: none;
}

.simpleDemo ul[dnd-list] .dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 50px;
}

.simpleDemo ul[dnd-list] li {
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb;
	display: block;
	padding: 10px 15px;
	min-height: 25px;
}

.simpleDemo ul[dnd-list] li:last-child {
	border-bottom: none;
}

.simpleDemo ul[dnd-list] li.selected {
	background-color: #FFE0B2;
	/*color:#FFFFFF;*/
}
.simpleDemo ul[dnd-list] li.selected .invisible-button{
	color: #6200ea;
}
.simpleDemo ul[dnd-list] li:hover {
	background-color: #e8e8e8;
}

.simpleDemo .conceptBarIcon {
	color: rgb(255, 152, 0);
	margin-right: 10px;
}

.simpleDemo p {
	background-color: #fff;
	/*border-bottom: 1px solid #dbdbdb;*/
	outline: none;
	padding: 10px 15px;
}

.simpleDemoMargin {
	margin-left: 20px;
	margin-right: 20px;
}

.simpleDemo md-menu {
	padding: 0px;
}


/*sidebar end*/

.access-code {
	font-size: 20px;
	color: #212121;
	text-align: center;
	padding: 30px;
}

.card-actions .zmdi {
	color: rgba(0, 0, 0, 0.54);
	font-size: 24px !important;
}

.conceptHeadline {
	margin: 0px auto;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 24px;
}

.edit-card-image > input {
	display: none
}

.image-overlay-content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: #000000;
}

.edit-card-image:hover .image-overlay-content {
	opacity: 0.5
}

.stickyHeading {
	position: fixed;
	width: 100%;
	background: #e8e8e8;
	z-index: 1;
	padding-top: 10px;
}


/*content*/


/*content end*/


/*add concepts end */


/*concept object shuffling*/

.objectShuffle ul[dnd-list], .objectShuffle ul[dnd-list] > li {
	position: relative;
}

.objectShuffle ul[dnd-list] {
	min-height: 150px;
}

.objectShuffle ul[dnd-list] .dndDraggingSource {
	display: none;
}

.objectShuffle ul[dnd-list] .dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 150px;
}

.objectShuffle ul[dnd-list] li {
	display: block;
}


/*concept object shuffling end*/


/*preview*/

.preview-mobile {
	width: 100%;
	height: auto;
	/*position: relative;*/
}

.mobile-content {
	width: 86%;
	background-color: white;
	height: 62%;
	position: absolute;
	top: 18%;
	left: 5%;
	overflow-y: scroll;
	padding: 5px;
}

.concept-card-mobile {
	border-bottom: 1px solid #dbdbdb;
	color: #212121;
	width: 100%;
	margin: 0px;
	margin-top: 7px;
	font-size: 12px;
}

.object-card {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #fafbfb;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
}

.back-preview {
	min-height: 33px;
	position: absolute;
	bottom: 11%;
	left: 2%;
}

.object-card md-card-title {
	padding: 8px;
	font-size: 14px;
}

.object-card md-card-content {
	padding: 8px;
	font-size: 12px;
}


/*preview end*/