<div layout="row" ng-cloak>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2 simpleDemo" md-component-id="conceptBar" md-is-locked-open="$mdMedia('gt-md')" style="margin-top:64px">
  <div style="border-bottom:3px solid #dbdbdb">
  <p class="simpleDemoMargin hand" ng-click="addConcepts.selected=null" ng-hide="!addConcepts.path.isOwner"><i class="zmdi zmdi-settings conceptBarIcon" ></i><span style="{font-size:20px}">Course Settings</span>
  </p>
  </div>
  <div style="overflow:auto" ng-style="{'max-height': addConcepts.conceptBarHeight}">
    <ul dnd-list="addConcepts.availableConcepts"
      dnd-inserted="addConcepts.conceptShuffled(index,item)"
      dnd-disable-if="!addConcepts.isConcept || !addConcepts.path.isOwner"
      >
      <li ng-repeat="item in addConcepts.availableConcepts"
        dnd-draggable="item"
        dnd-dragstart="addConcepts.conceptDragStart($index)"
        dnd-effect-allowed="move"
        dnd-selected="addConcepts.selected=item"
        ng-class="{'selected': addConcepts.selected === item}"
        class="md-ink-ripple hand"
        dnd-disable-if="$index==0 || item.showEditConcept || !addConcepts.path.isOwner" ng-mouseover="addConcepts.showMenu(item)" ng-mouseleave="addConcepts.hideMenu(item)">
        <div layout="row" flex="grow" layout-align="space-between center"  ng-if="!item.showEditConcept" style="min-height:25px">
          <i class="zmdi zmdi-circle conceptBarIcon" ></i><span>{{item.title | truncate:22}}</span>
          <span flex></span>
          <md-menu ng-hide="!item.showMenu || !addConcepts.path.isOwner" style="width:20px;outline:none" ng-click="$mdOpenMenu($event)" >
          <i class="zmdi zmdi-more-vert"  style="font-size:25px" class="pull-right"></i>
          <md-menu-content width="2">
          <md-menu-item >
          <md-button ng-click="addConcepts.showEditConcept(item)">
          <span md-menu-align-target>Edit</span>
          </md-button>
          </md-menu-item>
          <md-menu-item >
          <md-button ng-click="addConcepts.deleteConcept($event,$index)">
          <span md-menu-align-target>Delete</span>
          </md-button>
          </md-menu-item>
          </md-menu-content>
          </md-menu>
        </div>
        <form name="addConcepts.editConceptTitleForm" layout="row" flex="grow" layout-align="space-between center" ng-if="item.showEditConcept" novalidate>
          <md-input-container flex="70">
          <label>Concept Title</label>
          <input type="text" ng-model="addConcepts.conceptTitleToEdit" name="title" md-maxlength="65" ng-maxlength="65" minlength="8" ng-keyup="$event.keyCode == 13 && addConcepts.editConceptTitleForm.$valid ? addConcepts.editConcept($index,item) : null" required>
          </md-input-container>
          <button ng-click="addConcepts.editConcept($index,item)" ng-disabled="addConcepts.editConceptTitleForm.$invalid" class="invisible-button"><i class="zmdi zmdi-check card-icons" ></i></button>
          <i class="zmdi zmdi-arrow-left card-icons" ng-click="addConcepts.cancelEditConcept(item)"></i>
        </form>
      </li>
      <div id="lastConcept"></div>
    </ul>
  </div>
  <!-- add concept -->
  <div style="border-top:3px solid #dbdbdb" ng-hide="!addConcepts.path.isOwner">
    <form name="addConcepts.addConceptForm" layout="row" flex="grow" layout-align="space-between center" class="simpleDemoMargin" novalidate>
      <md-input-container flex="70">
      <label>Add Concept</label>
      <input type="text"  ng-model="addConcepts.newConceptTitle" name="title" md-maxlength="65" minlength="8" required>
      <div ng-messages="addConcepts.addConceptForm.title.$error" ng-if='addConcepts.addConceptForm.title.$dirty'>
        <div ng-message="required">Title is required.</div>
        <div ng-message="minlength">Title should have minimum 8 chars.</div>
        <div ng-message="md-maxlength">Title should have maximum 65 chars.</div>
      </div>
      </md-input-container>
      <button class="invisible-button" ng-disabled="addConcepts.addConceptForm.$invalid" ng-click="addConcepts.addConcept($event)"><i class="zmdi zmdi-hc-2x zmdi-plus-circle-o card-icons md-primary"></i></button>
    </form>
  </div>
  </md-sidenav>
  <md-content flex flex-offset="25" layout-padding layout="row" layout-align="center" class="section-background" style="padding-top:0">
  <div flex="70">
    <!-- show course settings -->
    <div ng-if="addConcepts.selected==null" ng-include="'app/views/courseSettings.html'" style="margin-top:-10px;"></div>
    <!-- show concept objects -->
    <div ng-if="addConcepts.selected" class="objectShuffle">
      <div class="stickyHeading">
        <h4 class="md-display-1 conceptHeadline">{{addConcepts.selected.title}}</h4>
      </div>
      <div style="padding-top:40%" ng-if="!addConcepts.selected.objects.length && !addConcepts.showAddImage && !addConcepts.showAddText && !addConcepts.showAddVideo && !addConcepts.showAddLink && !addConcepts.showAddDoc" class="center">
      <h5 class="noData center">You haven't added any content to this concept. Click on the '+' button to begin</h5>
      </div>
      <ul dnd-list="addConcepts.selected.objects"
        dnd-inserted="addConcepts.objectShuffled(index,item)" ng-show="addConcepts.selected.objects.length" style="padding-top:60px;" dnd-disable-if="addConcepts.isConcept || !addConcepts.path.isOwner">
        <li ng-repeat="item in addConcepts.selected.objects"
          dnd-draggable="item"
          dnd-dragstart="addConcepts.objectDragStart($index)"
          dnd-effect-allowed="move"
          class="md-ink-ripple hand"
          dnd-disable-if="item.edit || !item.isOwner">
          <div ng-include="'app/views/imageObject.html'" ng-if="item.type=='image'"></div>
          <div ng-include="'app/views/textObject.html'" ng-if="item.type=='text'"></div>
          <div ng-include="'app/views/videoObject.html'" ng-if="item.type=='video'"></div>
          <div ng-include="'app/views/linkObject.html'" ng-if="item.type=='link'"></div>
          <div ng-include="'app/views/docObject.html'" ng-if="item.type=='file'"></div>
        </li>
      </ul>
      <div id="lastObject" ng-style="!addConcepts.selected.objects.length && {'padding-top':'60px'}">
      <div ng-include="'app/views/addImageObject.html'" ng-if="addConcepts.showAddImage"></div>
      <div ng-include="'app/views/addTextObject.html'" ng-if="addConcepts.showAddText"></div>
      <div ng-include="'app/views/addVideoObject.html'" ng-if="addConcepts.showAddVideo"></div>
      <div ng-include="'app/views/addLinkObject.html'" ng-if="addConcepts.showAddLink"></div>
      <div ng-include="'app/views/addDocObject.html'" ng-if="addConcepts.showAddDoc"></div>
      </div>
    </div>
  </div>
  </md-content>
  <md-button class="md-fab md-accent dash-add big-fab" ng-click="addConcepts.showGridBottomSheet($event)"  ng-hide="!addConcepts.selected ||  addConcepts.selected.pos=='0' || !addConcepts.path.isOwner"><i class="zmdi zmdi-plus zmdi-hc-3x center-icon" aria-label="create course"></i></md-button>
</div>
