<form name="addImageObject.addImageObjectForm" ng-controller="addImageObjectCtrl as addImageObject">
  <md-card >
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <md-input-container>
  <label>Title</label>
  <input type="text"  ng-model="addImageObject.imageObject.title" name="title" md-maxlength="65" minlength="8" required>
  <div ng-messages="addImageObject.addImageObjectForm.title.$error" ng-if='addImageObject.addImageObjectForm.title.$dirty'>
    <div ng-message="required">Title is required.</div>
    <div ng-message="minlength">Title should have minimum 8 characters.</div>
    <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
  </div>
  </md-input-container>
  </md-card-title-text>
  <span flex="10"></span>
  <!-- cancel and save buttons -->
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
  <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="addImageObject.cancelImageAdding()">
  <md-tooltip md-direction="left">
  Cancel
  </md-tooltip>
  <i class="zmdi zmdi-close-circle-o"></i>
  </md-button>
  <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="addImageObject.addImageObject()" ng-disabled="addImageObject.addImageObjectForm.$invalid || !addImageObject.imageObject.file">
  <md-tooltip md-direction="right">
  Save
  </md-tooltip>
  <i class="zmdi zmdi-check"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <!-- image -->
  <div class="image-upload" layout="row" layout-align="center" flex="grow">
    <label for="file-input" style="position:relative">
      <img ng-src="{{addImageObject.imageObject.coverPhoto}}" class="md-card-image" ng-cloak/>
      <div class="image-overlay-content" layout="row" layout-align="center center">
        <i class="zmdi zmdi-upload zmdi-hc-5x" style="color:#FFFFFF;"></i>
      </div>
    </label>
    <input type="file" accept="image/*" id="file-input" file-model="addImageObject.setImageObjectCover($files,$errors)" file-type="image" />
  </div>
  <!-- other fields -->
  <md-card-content>
  <md-input-container>
  <label>Description</label>
  <textarea type="text"  ng-model="addImageObject.imageObject.desc" name="desc" minlength="20" columns="1" required></textarea>
  <div ng-messages="addImageObject.addImageObjectForm.desc.$error" ng-if='addImageObject.addImageObjectForm.desc.$dirty'>
    <div ng-message="required">Description is required.</div>
    <div ng-message="minlength">Description should have minimum 20 characters.</div>
  </div>
  </md-input-container>
  </md-card-content>
  </md-card>
</form>