<form name="addLinkObject.addObjectForm" ng-controller="addLinkObjectCtrl as addLinkObject">
  <md-card >
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <md-input-container ng-show="addLinkObject.show">
  <label>Title</label>
  <input type="text"  ng-model="addLinkObject.linkObject.title" name="title" md-maxlength="65" minlength="8" required>
  <div ng-messages="addLinkObject.addObjectForm.title.$error">
    <div ng-message="required" ng-if='addLinkObject.addObjectForm.title.$dirty'>Title is required.</div>
    <div ng-message="minlength">Title should have minimum 8 characters.</div>
    <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
  </div>
  </md-input-container>
  </md-card-title-text>
  <span flex="10"></span>
  <!-- cancel and save buttons -->
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
  <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="addLinkObject.cancelObjectAdding()">
  <md-tooltip md-direction="left">
  Cancel
  </md-tooltip>
  <i class="zmdi zmdi-close-circle-o"></i>
  </md-button>
  <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="addLinkObject.addObject()" ng-disabled="addLinkObject.addObjectForm.$invalid">
  <md-tooltip md-direction="right">
  Save
  </md-tooltip>
  <i class="zmdi zmdi-check"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <img ng-src="{{addLinkObject.previewImage}}" ng-if="addLinkObject.previewImage" class="md-card-image" alt="{{addLinkObject.linkObject.title}}" ng-cloak>
  <!-- <div ng-if=""></div> -->
  <!-- other fields -->
  <md-card-content>
  <md-input-container>
  <label>Link URL</label>
  <input type="url"  ng-model="addLinkObject.linkObject.url" name="linkUrl" ng-blur="addLinkObject.linkObject.url && addLinkObject.getPreview()" required>
  <div ng-messages="addLinkObject.addObjectForm.linkUrl.$error" ng-if='addLinkObject.addObjectForm.linkUrl.$dirty'>
    <div ng-message="required">URL is required.</div>
    <div ng-message="url">URL is not valid.</div>
  </div>
  </md-input-container>
  <md-input-container ng-show="addLinkObject.show">
  <label>Description</label>
  <textarea type="text"  ng-model="addLinkObject.linkObject.desc" name="desc" minlength="20" columns="1" required></textarea>
  <div ng-messages="addLinkObject.addObjectForm.desc.$error">
    <div ng-message="required" ng-if='addLinkObject.addObjectForm.desc.$dirty'>Description is required.</div>
    <div ng-message="minlength">Description should have minimum 20 characters.</div>
  </div>
  </md-input-container>
  </md-card-content>
  </md-card>
</form>