<form name="addTextObject.addObjectForm" ng-controller="addTextObjectCtrl as addTextObject">
  <md-card >
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <md-input-container>
  <label>Title</label>
  <input type="text"  ng-model="addTextObject.textObject.title" name="title" md-maxlength="65" minlength="8" required>
  <div ng-messages="addTextObject.addObjectForm.title.$error" ng-if='addTextObject.addObjectForm.title.$dirty'>
    <div ng-message="required">Title is required.</div>
    <div ng-message="minlength">Title should have minimum 8 characters.</div>
    <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
  </div>
  </md-input-container>
  </md-card-title-text>
  <span flex="10"></span>
  <!-- cancel and save buttons -->
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
  <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="addTextObject.cancelTextAdding()">
  <md-tooltip md-direction="left">
  Cancel
  </md-tooltip>
  <i class="zmdi zmdi-close-circle-o"></i>
  </md-button>
  <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="addTextObject.addTextObject()" ng-disabled="addTextObject.addObjectForm.$invalid">
  <md-tooltip md-direction="right">
  Save
  </md-tooltip>
  <i class="zmdi zmdi-check"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <!-- other fields -->
  <md-card-content>
  <md-input-container>
  <label>Description</label>
  <textarea type="text"  ng-model="addTextObject.textObject.desc" name="desc" minlength="20" columns="1" required></textarea>
  <div ng-messages="addTextObject.addObjectForm.desc.$error" ng-if='addTextObject.addObjectForm.desc.$dirty'>
    <div ng-message="required">Description is required.</div>
    <div ng-message="minlength">Description should have minimum 20 characters.</div>
  </div>
  </md-input-container>
  </md-card-content>
  </md-card>
</form>