<form name="addVideoObject.addObjectForm" ng-controller="addVideoObjectCtrl as addVideoObject">
  <md-card >
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <md-input-container ng-show="addVideoObject.show">
  <label>Title</label>
  <input type="text"  ng-model="addVideoObject.videoObject.title" name="title" md-maxlength="65" minlength="8" required>
  <div ng-messages="addVideoObject.addObjectForm.title.$error">
    <div ng-message="required" ng-if="addVideoObject.addObjectForm.title.$dirty">Title is required.</div>
    <div ng-message="minlength">Title should have minimum 8 characters.</div>
    <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
  </div>
  </md-input-container>
  </md-card-title-text>
  <span flex="10"></span>
  <!-- cancel and save buttons -->
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
  <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="addVideoObject.cancelObjectAdding()">
  <md-tooltip md-direction="left">
  Cancel
  </md-tooltip>
  <i class="zmdi zmdi-close-circle-o"></i>
  </md-button>
  <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="addVideoObject.addObject()" ng-disabled="addVideoObject.addObjectForm.$invalid">
  <md-tooltip md-direction="right">
  Save
  </md-tooltip>
  <i class="zmdi zmdi-check"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <youtube code="addVideoObject.videoObject.url" ng-if="addVideoObject.videoObject.url" height="'350px'"></youtube>
  <!-- other fields -->
  <md-card-content>
  <md-input-container>
  <label>YouTube video URL</label>
  <input type="text"  ng-model="addVideoObject.videoObject.url" name="videoUrl" ng-pattern="app.youtubeRegex" required ng-blur="addVideoObject.getPreview()">
  <div ng-messages="addVideoObject.addObjectForm.videoUrl.$error" ng-if='addVideoObject.addObjectForm.videoUrl.$dirty'>
    <div ng-message="required">URL is required.</div>
    <div ng-message="pattern">URL is not valid.</div>
  </div>
  </md-input-container>
  <md-input-container ng-show="addVideoObject.show">
  <label>Description</label>
  <textarea type="text"  ng-model="addVideoObject.videoObject.desc" name="desc" minlength="20" columns="1" required></textarea>
  <div ng-messages="addVideoObject.addObjectForm.desc.$error">
    <div ng-message="required" ng-if="addVideoObject.addObjectForm.desc.$dirty">Description is required.</div>
    <div ng-message="minlength">Description should have minimum 20 characters.</div>
  </div>
  </md-input-container>
  </md-card-content>
  </md-card>
</form>