<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
<md-list flex layout="row" layout-align="center center">
<md-list-item ng-repeat="item in bottomSheet.items">
<md-button class="md-grid-item-content" ng-click="bottomSheet.listItemClick($index)">
<md-tooltip md-direction="top" ng-if="item.name=='Quiz'">
Coming Soon
</md-tooltip>
<i class="zmdi zmdi-hc-4x center-icon" aria-label="create course" ng-class="item.icon" style="color:grey"></i>
<div class="md-grid-text"> {{ item.name }} </div>
</md-button>
</md-list-item>
</md-list>
</md-bottom-sheet>