<md-dialog aria-label="Concept Preview" class="md-dialog-custom" style="margin-top:2%" ng-cloak>
<md-dialog-content style="padding-top:30px;padding-bottom:30px">
<div layout="row" layout-align="center">
  <div flex="40" style="position:relative">
    <img src="assets/images/Nexus5.png" class="preview-mobile">
    <div class="mobile-content" ng-hide="conceptPreview.selected">
      <div ng-repeat="concept in conceptPreview.concepts">
        <md-button class="concept-card-mobile md-raised col-lg-12" ng-click="conceptPreview.selected=concept" >
        <div class="circle-pointer-mobile"></div>
        <div class="concept-text">{{concept.title | limitTo:20}}</div>
        </md-button>
      </div>
    </div>
    <div class="mobile-content" ng-show="conceptPreview.selected">
      <h4 style="margin-left: 5px">{{conceptPreview.selected.title}}</h4>
      <div ng-repeat="object in conceptPreview.selected.objects">
        <md-card class="object-card">
        <md-card-title >
        <md-card-title-text >
        {{object.title}}
        </md-card-title-text>
        </md-card-title>
        <!-- <div class="object-title-preview row md-title">{{object.title}}</div> -->
        <youtube ng-if="object.type=='video'" code="object.url" height="'120px'"></youtube>
        <img ng-if="object.type=='image'" ng-src="{{object.url}}" class="md-card-image" alt="{{object.title}}" ng-cloak>
        <div class="container">
          <a href="{{object.url}}" ng-if="object.type == 'file'"> Link to the file </a>
        </div>
        <div>
          <a href="{{object.url}}" ng-if="object.type =='link'" >{{object.url | limitTo : 30}}...</a>
        </div>
        <md-card-content>
        <p>
        {{object.desc}}
        </p>
        </md-card-content>
      </div>
    </div>
    <md-button ng-if="conceptPreview.selected" ng-click="conceptPreview.selected=null" class="back-preview"></md-button>
  </div>
</div>
<div>
</div>
</md-dialog-content>
</md-dialog>