<div class="stickyHeading">
    <h4 class="md-display-1 conceptHeadline">Course Settings</h4>
</div>
<div>
    <md-card class="access-code" style="padding-top:60px;">
        <md-card-title layout-align="center">
            <md-card-title-text>
                <span class="md-headline">Access code for your course is :<span style="color: #ff9800">{{addConcepts.path.accessId}}</span></span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <!-- view mode -->
    <md-card ng-if="!addConcepts.showEditCourseSettings">
        <md-card-title layout="row">
            <md-card-title-text flex="70">
                <span class="md-headline">{{addConcepts.path.title}}</span>
            </md-card-title-text>
            <span flex="10"></span>
            <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
                <md-button aria-label="Delete" ng-click="addConcepts.showCourseSettingsDelete($event)">
                    <i class="zmdi zmdi-close-circle-o"></i>
                </md-button>
                <md-button class="md-icon-button" aria-label="Edit" ng-click="addConcepts.showCourseSettingsEditing()">
                    <i class="zmdi zmdi-edit"></i>
                </md-button>
            </md-card-actions>
        </md-card-title>
        <img ng-src="{{addConcepts.path.coverPhoto}}" class="md-card-image" alt="{{addConcepts.path.title}}" ng-cloak>
        <md-card-content>
            <p>
                {{addConcepts.path.desc}}
            </p>

            <div class="coursePrice">
                <p>Buying options</p>

                <div layout="row" class="select-cost">
                    <div flex="50">
                        <p>Course</p>

                        <div layout="row">
                            <md-radio-group ng-model="addConcepts.path.coursePaid" disabled>
                                <md-radio-button ng-value="false" disabled>Free</md-radio-button>
                                <md-radio-button ng-value="true" disabled>One Time Payment <span
                                        ng-if="addConcepts.path.coursePaid"><span
                                        ng-if="addConcepts.path.selectedCurrency=='USD'">USD {{addConcepts.path.courseUSD | number:2}} </span><span
                                        ng-if="addConcepts.path.selectedCurrency=='INR'">INR {{addConcepts.path.courseINR | number:2}}</span></span>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div flex="50">
                        <p>Mentor Channel</p>

                        <div layout="row">
                            <md-radio-group ng-model="addConcepts.path.mentorPaid" disabled>
                                <md-radio-button ng-value="false" disabled>Free</md-radio-button>
                                <md-radio-button ng-value="true" disabled>Subscription <span
                                        ng-if="addConcepts.path.mentorPaid"><span
                                        ng-if="addConcepts.path.selectedCurrency=='USD'">USD {{addConcepts.path.mentorUSD | number:2}} </span><span
                                        ng-if="addConcepts.path.selectedCurrency=='INR'">INR {{addConcepts.path.mentorINR | number:2}}</span></span>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <!-- edit mode -->
    <form name="addConcepts.editCourseSettingsForm" ng-if="addConcepts.showEditCourseSettings">
        <md-card>
            <md-card-title layout="row">
                <md-card-title-text flex="70">
                    <md-input-container>
                        <label>Title</label>
                        <input type="text" ng-model="addConcepts.settingsToBeEdited.title" name="title"
                               md-maxlength="65" minlength="8" required>

                        <div ng-messages="addConcepts.editCourseSettingsForm.title.$error">
                            <div ng-message="required">Title is required.</div>
                            <div ng-message="minlength">Title should have minimum 8 characters.</div>
                            <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
                        </div>
                    </md-input-container>
                </md-card-title-text>
                <span flex="10"></span>
                <!-- cancel and save buttons -->
                <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
                    <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel"
                               ng-click="addConcepts.cancelCourseSettingsEditing()">
                        <md-tooltip md-direction="left">
                            Cancel
                        </md-tooltip>
                        <i class="zmdi zmdi-close-circle-o"></i>
                    </md-button>
                    <md-button class="md-icon-button md-ink-ripple" aria-label="Save"
                               ng-click="addConcepts.editCourseSettings()"
                               ng-disabled="addConcepts.editCourseSettingsForm.$invalid">
                        <md-tooltip md-direction="right">
                            Save
                        </md-tooltip>
                        <i class="zmdi zmdi-check"></i>
                    </md-button>
                </md-card-actions>
            </md-card-title>
            <!-- image -->
            <div class="image-upload" layout="row" layout-align="center">
                <label for="file-input" style="position:relative">
                    <img ng-src="{{addConcepts.settingsToBeEdited.coverPhoto}}" class="md-card-image"/>

                    <div class="image-overlay-content" layout="row" layout-align="center center">
                        <i class="zmdi zmdi-upload zmdi-hc-5x" style="color:#FFFFFF;"></i>
                    </div>
                </label>
                <input type="file" accept="image/*" id="file-input"
                       file-model="addConcepts.setCourseSettingsCover($files,$errors)" file-type="image"/>
            </div>
            <!-- other fields -->
            <md-card-content>
                <md-input-container>
                    <label>Course Description</label>
                    <textarea type="text" ng-model="addConcepts.settingsToBeEdited.desc" name="desc" minlength="20"
                              columns="1" required></textarea>

                    <div ng-messages="addConcepts.editCourseSettingsForm.desc.$error">
                        <div ng-message="required">Description is required.</div>
                        <div ng-message="minlength">Description should have minimum 20 characters.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <p>Course Visibility</p>
                    <md-radio-group ng-model="addConcepts.settingsToBeEdited.isPrivate" required>
                        <md-radio-button ng-value="false">Public</md-radio-button>
                        <md-radio-button ng-value="true">Private</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row" layout-align="space-between">
                    <md-input-container flex="45">
                        <label>Category</label>
                        <md-select name="category" ng-model="addConcepts.settingsToBeEdited.category" required>
                            <md-option ng-repeat="(cat, subCat) in addConcepts.categories" value="{{cat}}" ng-show="cat"
                                       class="text-capitalize">{{cat}}</md-option>
                        </md-select>
                        <div ng-messages="createCourse.step1Form.category.$error" ng-if='createCourse.step1Form.category.$dirty'>
                            <div ng-message="required">Category is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="45" ng-show="addConcepts.settingsToBeEdited.category">
                        <label>Sub Category</label>
                        <md-select name="subCat" ng-model="addConcepts.settingsToBeEdited.subCat" required>
                            <md-option ng-repeat="subCat in addConcepts.categories[addConcepts.settingsToBeEdited.category]"
                                       value="{{subCat}}" ng-show="subCat" class="text-capitalize">{{subCat}}</md-option>
                        </md-select>

                        <div ng-messages="createCourse.step1Form.subCat.$error" ng-if='createCourse.step1Form.subCat.$dirty'>
                            <div ng-message="required">Sub Category is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="coursePrice">
                    <p>Select buying options</p>

                    <div layout="row" class="select-cost">
                        <div flex="50">
                            <p>Course</p>

                            <div layout="row">
                                <md-radio-group ng-model="addConcepts.settingsToBeEdited.coursePaid" required>
                                    <md-radio-button ng-value="false">Free</md-radio-button>
                                    <md-radio-button ng-value="true">One Time Payment</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div layout="row" ng-if="addConcepts.settingsToBeEdited.coursePaid" style="padding:10px">
                                <md-input-container>
                                    <label>Currency</label>
                                    <md-select name="coursePriceCurrency"
                                               ng-model="addConcepts.settingsToBeEdited.selectedCurrency" required>
                                        <md-option value="USD">USD</md-option>
                                        <md-option value="INR">INR</md-option>
                                    </md-select>
                                </md-input-container>
                                <div flex="10"></div>
                                <md-input-container>
                                    <label>Amount</label>
                                    <input type="number" ng-model="addConcepts.settingsToBeEdited.coursePriceAmount"
                                           name="coursePriceAmount" decimals="2" decimal-point="."
                                           ng-disabled="!addConcepts.settingsToBeEdited.selectedCurrency"
                                           min-value="0.10" required>

                                    <div ng-messages="addConcepts.editCourseSettingsForm.coursePriceAmount.$error"
                                         ng-if='addConcepts.editCourseSettingsForm.coursePriceAmount.$dirty'>
                                        <div ng-message="required">Amount is required.</div>
                                        <div ng-message="number">Amount is invalid.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <div flex="50">
                            <p>Mentor Channel</p>

                            <div layout="row">
                                <md-radio-group ng-model="addConcepts.settingsToBeEdited.mentorPaid" required>
                                    <md-radio-button ng-value="false">Free</md-radio-button>
                                    <md-radio-button ng-value="true">Monthly Subscription</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div layout="row" ng-if="addConcepts.settingsToBeEdited.mentorPaid" style="padding:10px">
                                <md-input-container>
                                    <label>Currency</label>
                                    <md-select name="mentorPriceCurrency"
                                               ng-model="addConcepts.settingsToBeEdited.selectedCurrency" required>
                                        <md-option value="USD">USD</md-option>
                                        <md-option value="INR">INR</md-option>
                                    </md-select>
                                </md-input-container>
                                <div flex="10"></div>
                                <md-input-container>
                                    <label>Amount</label>
                                    <input type="number" ng-model="addConcepts.settingsToBeEdited.mentorPriceAmount"
                                           name="mentorPriceAmount" decimals="2" decimal-point="." min-value="0.10"
                                           ng-disabled="!addConcepts.settingsToBeEdited.selectedCurrency" required>

                                    <div ng-messages="addConcepts.editCourseSettingsForm.mentorPriceAmount.$error"
                                         ng-if='addConcepts.editCourseSettingsForm.mentorPriceAmount.$dirty'>
                                        <div ng-message="required">Amount is required.</div>
                                        <div ng-message="number">Amount is invalid.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </form>
</div>