<div layout="row" layout-align="center" class="createCourseMargin">
	<div flex="20" >
		<div class="createCourseStepIcons fix-left" ng-hide="createCourse.isStep1">
			<md-button class="md-fab md-mini md-primary" aria-label="Step1" ng-click="createCourse.goToStep1()">
			1
			</md-button>
			<md-button class="md-fab md-mini md-primary md-primary md-hue-1" aria-label="Step2">
			2
			</md-button>
		</div>
	</div>
	<div flex="60">
		<md-content ng-cloak class="md-padding input-area" layout="row" layout-align="center">
		<div flex="80" ui-view>
		</div>
		</md-content>
	</div>
	<div flex="20">
		<div class="createCourseStepIcons fix-right" ng-show="createCourse.isStep1">
			<md-button class="md-fab md-mini  md-primary md-hue-1" aria-label="Step1">
			1
			</md-button>
			<md-button class="md-fab md-mini md-primary" aria-label="Step2" ng-disabled="createCourse.step1Form.$invalid || !createCourse.data.uploadedPhoto" ng-click="createCourse.goToStep2()">
			2
			</md-button>
		</div>
		<div class="createCourseStepIcons fix-right" ng-show="!createCourse.isStep1">
			<md-button class="md-primary md-raised publish-button" style="color: white" ng-click="createCourse.createCourse()" ng-disabled="createCourse.step2Form.$invalid">
			Publish Course</md-button>
		</div>
	</div>
</div>