<form name="createCourse.step1Form" confirm-on-exit>
    <md-input-container>
        <label>Title</label>
        <input type="text" ng-model="createCourse.data.title" name="title" md-maxlength="65" minlength="8" required>

        <div ng-messages="createCourse.step1Form.title.$error" ng-if='createCourse.step1Form.title.$dirty'>
            <div ng-message="required">Title is required.</div>
            <div ng-message="minlength">Title should have minimum 8 characters.</div>
            <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Course Description</label>
        <textarea type="text" ng-model="createCourse.data.desc" name="desc" minlength="20" columns="1"
                  required></textarea>

        <div ng-messages="createCourse.step1Form.desc.$error" ng-if='createCourse.step1Form.desc.$dirty'>
            <div ng-message="required">Description is required.</div>
            <div ng-message="minlength">Description should have minimum 20 characters.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Category</label>
        <md-select name="category" ng-model="createCourse.data.category" required>
            <md-option ng-repeat="(cat, subCat) in createCourse.categories" value="{{cat}}" ng-show="cat"
                       class="text-capitalize">{{cat}}</md-option>
        </md-select>
        <div ng-messages="createCourse.step1Form.category.$error" ng-if='createCourse.step1Form.category.$dirty'>
            <div ng-message="required">Category is required.</div>
        </div>
    </md-input-container>
    <md-input-container ng-show="createCourse.data.category">
        <label>Sub Category</label>
        <md-select name="subCat" ng-model="createCourse.data.subCat" required>
            <md-option ng-repeat="subCat in createCourse.categories[createCourse.data.category]" value="{{subCat}}" ng-show="subCat"
                       class="text-capitalize">{{subCat}}</md-option>
        </md-select>

        <div ng-messages="createCourse.step1Form.subCat.$error" ng-if='createCourse.step1Form.subCat.$dirty'>
            <div ng-message="required">Sub Category is required.</div>
        </div>
    </md-input-container>
    <div class="image-upload" layout="row" layout-align="center">
        <label for="file-input" style="position:relative">
            <img ng-src="{{createCourse.coverPhoto}}" class="md-card-image" ng-cloak/>

            <div class="image-overlay-content" layout="row" layout-align="center center">
                <i class="zmdi zmdi-upload zmdi-hc-5x" style="color:#FFFFFF;"></i>
            </div>
        </label>
        <input type="file" accept="image/*" id="file-input" file-model="createCourse.setCover($files,$errors)"
               file-type="image"/>
    </div>
    <div class="coursePrice">
        <p>Select buying options</p>

        <div layout="row" class="select-cost">
            <div flex="50">
                <p>Course</p>

                <div layout="row">
                    <md-radio-group ng-model="createCourse.data.coursePaid" required>
                        <md-radio-button ng-value="false">Free</md-radio-button>
                        <md-radio-button ng-value="true">One Time Payment</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row" ng-if="createCourse.data.coursePaid" style="padding:10px">
                    <md-input-container>
                        <label>Currency</label>
                        <md-select name="coursePriceCurrency" ng-model="createCourse.data.selectedCurrency" required>
                            <md-option value="USD">USD</md-option>
                            <md-option value="INR">INR</md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="10"></div>
                    <md-input-container>
                        <label>Amount</label>
                        <input type="number" ng-model="createCourse.data.coursePriceAmount" name="coursePriceAmount"
                               decimals="2" decimal-point="." ng-disabled="!createCourse.data.selectedCurrency" min="0"
                               min-value="0.10" required>

                        <div ng-messages="createCourse.step1Form.coursePriceAmount.$error"
                             ng-if='createCourse.step1Form.coursePriceAmount.$dirty'>
                            <div ng-message="required">Amount is required.</div>
                            <div ng-message="min">Amount should be greater than 0.1.</div>
                            <div ng-message="number">Amount is invalid.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div flex="50">
                <p>Mentor Channel</p>

                <div layout="row">
                    <md-radio-group ng-model="createCourse.data.mentorPaid" required>
                        <md-radio-button ng-value="false">Free</md-radio-button>
                        <md-radio-button ng-value="true">Monthly Subscription</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row" ng-if="createCourse.data.mentorPaid" style="padding:10px">
                    <md-input-container>
                        <label>Currency</label>
                        <md-select name="mentorPriceCurrency" ng-model="createCourse.data.selectedCurrency" required>
                            <md-option value="USD">USD</md-option>
                            <md-option value="INR">INR</md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="10"></div>
                    <md-input-container>
                        <label>Amount</label>
                        <input type="number" ng-model="createCourse.data.mentorPriceAmount" name="mentorPriceAmount"
                               decimals="2" min="0" min-value="0.10" decimal-point="."
                               ng-disabled="!createCourse.data.selectedCurrency" required>

                        <div ng-messages="createCourse.step1Form.mentorPriceAmount.$error"
                             ng-if='createCourse.step1Form.mentorPriceAmount.$dirty'>
                            <div ng-message="required">Amount is required.</div>
                            <div ng-message="min">Amount should be greater than 0.1.</div>
                            <div ng-message="number">Amount is invalid.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <form>