<h3 style="text-align:center; color: #212121">Introduction To Course</h3>
<form name="createCourse.step2Form">
  <md-input-container>
  <label>YouTube video URL</label>
  <input type="text"  ng-model="createCourse.data.introVid" name="videoUrl" ng-pattern="app.youtubeRegex" required>
  <div ng-messages="createCourse.step2Form.videoUrl.$error" ng-if='createCourse.step2Form.videoUrl.$dirty'>
    <div ng-message="required">URL is required.</div>
    <div ng-message="pattern">URL is not valid.</div>
  </div>
  </md-input-container>
  <youtube code="createCourse.data.introVid" ng-if="createCourse.data.introVid" height="'350px'"></youtube>
  <form>