<section class="section-background" ng-cloak>
	<div class="container">
		<div class="spacing-create"></div>
		<div class="md-padding" layout="row">
		<div flex="10"></div>
		<div flex="80">
			<div layout="row" layout-sm="column" layout-wrap>
			<div ng-if="!dashboard.dashData.length" style="margin-top:22%;width:100%">
				<h5 class="noData">You haven't published any course yet. Click on the '+' button to start publishing courses</h5>
			</div>
				<div flex="25" flex-md="50" flex-sm="100" ng-repeat="dash in dashboard.dashData"  ng-if="dashboard.dashData.length">
					<div style="margin:10px">
						<md-card class="card md-ink-ripple" layout="column" style="position:relative" ng-click="dashboard.goToConcept(dash)">
						<div flex="50" ng-style="{'background-image':'url({{dash.coverPhotoThumb}})'}"></div>
						<!-- <img ng-src="{{dash.coverPhotoThumb}}" class="md-card-image" alt="Washed Out" flex="50"> -->
						<md-card-content flex="50">
						<img ng-src="{{dash.producer.avatar}}" class="roundImg" alt=""/>
						<div style="text-align:left" flex-offset="30">{{dash.title|truncate:25}}</div>
						<div class="mentor-name"> <p ng-if="dash.producer.name">{{dash.producer.name|truncate:20}}</p></div>
						<div class="user-desc" ng-if="dash.producer.userDesc">
							{{dash.producer.userDesc|truncate:110}}
						</div>
						<!--<div ng-if="dash.isOwner" class="user-desc">-->
							<!--{{dash.desc|truncate:110}}-->
						<!--</div>-->
						<div flex="grow"></div>
						<div layout="row" layout-align="center center" class="students-dash">
							<img src="assets/images/people.png" alt=""/>
							<p> {{dash.studentCount}}</p>
						</div>
						</md-card-content>
						</md-card>
					</div>
				</div>
			</div>
			</div>
			<div flex="10"></div>
		</div>
	</div>
	<md-button class="md-fab md-accent dash-add big-fab" ng-click="dashboard.goToCreateCourse()"><i class="zmdi zmdi-plus zmdi-hc-3x center-icon" aria-label="create course"></i></md-button>
</section>
