<div ng-controller="docObjectCtrl as docObject">
  <md-card ng-if="!item.edit">
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <span class="md-headline">{{item.title}}</span>
  </md-card-title-text>
  <span flex="10"></span>
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20" ng-hide="!addConcepts.path.isOwner">
  <md-button class="md-icon-button" aria-label="Edit" ng-click="docObject.showObjectEditing()">
  <md-tooltip md-direction="left">
  Edit
  </md-tooltip>
  <i class="zmdi zmdi-edit"></i>
  </md-button>
  <md-button class="md-icon-button" aria-label="Delete" ng-click="addConcepts.deleteObject($event,$index)">
  <md-tooltip md-direction="right">
  Delete
  </md-tooltip>
  <i class="zmdi zmdi-delete"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <div class="image-upload" layout="row" layout-align="center" flex="grow">
    <label for="file-input" style="position:relative">
      <a ng-href="{{item.docPath}}" target="_blank"><img ng-if="item.urlThumb" ng-src="{{item.urlThumb}}" class="md-card-image" ng-cloak/>
      <img ng-if="!item.urlThumb" ng-src="{{item.filePreview}}" class="md-card-image" ng-cloak/></a>
    </label>
  </div>
  <md-card-content>
  <p class="wordwrap">
  {{item.desc}}
  </p>
  </md-card-content>
  </md-card>
  <form name="docObject.editObjectForm"  ng-if="item.edit">
    <md-card >
    <md-card-title layout="row">
    <md-card-title-text flex="70">
    <md-input-container>
    <label>Title</label>
    <input type="text"  ng-model="docObject.objectToBeEdited.title" name="title" md-maxlength="65" minlength="8" required>
    <div ng-messages="docObject.editObjectForm.title.$error" ng-if='docObject.editObjectForm.title.$dirty'>
      <div ng-message="required">Title is required.</div>
      <div ng-message="minlength">Title should have minimum 8 characters.</div>
      <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
    </div>
    </md-input-container>
    </md-card-title-text>
    <span flex="10"></span>
    <!-- cancel and save buttons -->
    <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
    <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="docObject.cancelObjectEditing()">
    <md-tooltip md-direction="left">
    Cancel
    </md-tooltip>
    <i class="zmdi zmdi-close-circle-o"></i>
    </md-button>
    <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="docObject.editObject()" ng-disabled="docObject.editObjectForm.$invalid">
    <md-tooltip md-direction="right">
    Save
    </md-tooltip>
    <i class="zmdi zmdi-check"></i>
    </md-button>
    </md-card-actions>
    </md-card-title>
    <!-- doc -->
    <div class="image-upload" layout="row" layout-align="center" flex="grow">
    <label for="file-input" style="position:relative">
      <img ng-if="docObject.objectToBeEdited.filePreview" ng-src="{{docObject.objectToBeEdited.filePreview}}" class="md-card-image" ng-cloak/>
      <img ng-if="!docObject.objectToBeEdited.filePreview" ng-src="{{docObject.objectToBeEdited.urlThumb}}" class="md-card-image" ng-cloak/>
      <div class="image-overlay-content" layout="row" layout-align="center center">
        <i class="zmdi zmdi-upload zmdi-hc-5x" style="color:#FFFFFF;"></i>
      </div>
    </label>
    <input type="file" id="file-input" file-model="docObject.setDocObjectIcon($files,$errors)" file-type="doc" />
  </div>
    <!-- other fields -->
    <md-card-content>
    <md-input-container>
    <label>Description</label>
    <textarea type="text"  ng-model="docObject.objectToBeEdited.desc" name="desc" minlength="20" columns="1" required></textarea>
    <div ng-messages="docObject.editObjectForm.desc.$error" ng-if='docObject.editObjectForm.desc.$dirty'>
      <div ng-message="required">Description is required.</div>
      <div ng-message="minlength">Description should have minimum 20 characters.</div>
    </div>
    </md-input-container>
    </md-card-content>
    </md-card>
  </form>
</div>