<div layout="row" layout-align="center center" style="height:100vh">
	<div flex="50">
		<md-content>
		<md-tabs md-dynamic-height md-border-bottom class="md-primary">
		<md-tab label="Forgot Password">
		<md-content class="md-padding">
		<form name="forgotPassword.emailForm">
			<md-input-container>
			<label>Email address</label>
			<input type="email"  ng-model="forgotPassword.email" name="email" required>
			<div ng-messages="forgotPassword.emailForm.email.$error" ng-if='forgotPassword.emailForm.email.$touched'>
				<div ng-message="required">Email is required.</div>
				<div ng-message="email">Email is invalid.</div>
			</div>
			</md-input-container>
			<div layout="row" layout-align="center center">
				<md-button ng-click="forgotPassword.sendEmail()" class="md-raised md-primary" style="color:white;" flex="50" ng-disabled="forgotPassword.emailForm.$invalid">Submit</md-button>
			</div>
		</form>
		</md-content>
		</md-tab>
		</md-tabs>
		</md-content>
	</div>
</div>