<div ng-controller="linkObjectCtrl as linkObject">
  <md-card ng-if="!item.edit">
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <span class="md-headline">{{item.title}}</span>
  </md-card-title-text>
  <span flex="10"></span>
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20" ng-hide="!addConcepts.path.isOwner">
  <md-button class="md-icon-button" aria-label="Edit" ng-click="linkObject.showObjectEditing()">
  <md-tooltip md-direction="left">
  Edit
  </md-tooltip>
  <i class="zmdi zmdi-edit"></i>
  </md-button>
  <md-button class="md-icon-button" aria-label="Delete" ng-click="addConcepts.deleteObject($event,$index)" ng-hide="addConcepts.selected.pos=='0'">
  <md-tooltip md-direction="right">
  Delete
  </md-tooltip>
  <i class="zmdi zmdi-delete"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <a ng-href="{{item.url}}" target="_blank" ><img ng-src="{{item.image}}" ng-if="item.image" class="md-card-image" style="width:50%;height:50%;margin-left:auto;margin-right:auto;" alt="{{item.title}}" ng-cloak></a>
  <md-card-content>
  <p class="wordwrap">
  {{item.desc}}
  </p>
  </md-card-content>
  </md-card>
  <form name="linkObject.editObjectForm"  ng-if="item.edit">
    <md-card >
    <md-card-title layout="row">
    <md-card-title-text flex="70">
    <md-input-container ng-show="linkObject.show">
    <label>Title</label>
    <input type="text"  ng-model="linkObject.objectToBeEdited.title" name="title" md-maxlength="65" minlength="8" required>
    <div ng-messages="linkObject.editObjectForm.title.$error" ng-if='linkObject.editObjectForm.title.$dirty'>
      <div ng-message="required">Title is required.</div>
      <div ng-message="minlength">Title should have minimum 8 characters.</div>
      <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
    </div>
    </md-input-container>
    </md-card-title-text>
    <span flex="10"></span>
    <!-- cancel and save buttons -->
    <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
    <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="linkObject.cancelObjectEditing()">
    <md-tooltip md-direction="left">
    Cancel
    </md-tooltip>
    <i class="zmdi zmdi-close-circle-o"></i>
    </md-button>
    <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="linkObject.editObject()" ng-disabled="linkObject.editObjectForm.$invalid">
    <md-tooltip md-direction="right">
    Save
    </md-tooltip>
    <i class="zmdi zmdi-check"></i>
    </md-button>
    </md-card-actions>
    </md-card-title>
    <img ng-src="{{linkObject.previewImage}}" ng-if="linkObject.previewImage" class="md-card-image" ng-cloak>
    <!-- other fields -->
    <md-card-content>
    <md-input-container>
    <label>Link URL</label>
    <input type="url"  ng-model="linkObject.objectToBeEdited.url" name="linkUrl" ng-blur="linkObject.getPreview" required>
    <div ng-messages="linkObject.editObjectForm.linkUrl.$error" ng-if='linkObject.editObjectForm.linkUrl.$dirty'>
      <div ng-message="required">URL is required.</div>
      <div ng-message="url">URL is not valid.</div>
    </div>
    </md-input-container>
    <md-input-container ng-show="linkObject.show">
    <label>Description</label>
    <textarea type="text"  ng-model="linkObject.objectToBeEdited.desc" name="desc" minlength="20" columns="1" required></textarea>
    <div ng-messages="linkObject.editObjectForm.desc.$error" ng-if='linkObject.editObjectForm.desc.$dirty'>
      <div ng-message="required">Description is required.</div>
      <div ng-message="minlength">Description should have minimum 20 characters.</div>
    </div>
    </md-input-container>
    </md-card-content>
    </md-card>
  </form>
</div>