<div layout="row" layout-align="center center" style="height:90vh">
    <div flex="50">
        <md-content class="loginOrSignup" ng-controller="socialLoginCtrl as socialLogin" ng-cloak>
        <md-tabs md-dynamic-height md-border-bottom class="md-primary">
        <md-tab>
        <md-tab-label class="white">Login</md-tab-label>
        <md-tab-body> <md-content class="md-padding">
        <div ng-include="'app/views/login.html'"></div>
        </md-content></md-tab-body>

        </md-tab>
        <md-tab label="Sign up">
        <md-content class="md-padding">
        <div ng-include="'app/views/signup.html'"></div>
        </md-content>
        </md-tab>
        </md-tabs>
        </md-content>
    </div>
</div>