<form ng-controller="loginCtrl as user" name="user.loginForm">
    <md-input-container>
    <label>Email address</label>
    <input ng-pattern="app.emailRegex"  ng-model="user.email" name="email" required>
    <div ng-messages="user.loginForm.email.$error" ng-if='user.loginForm.email.$touched'>
        <div ng-message="required">Email is required.</div>
        <div ng-message="pattern">Email is invalid.</div>
    </div>
    </md-input-container>
    <md-input-container>
    <label>Password</label>
    <input type="password"  ng-model="user.password" name="password" required>
    <div ng-messages="user.loginForm.password.$error" ng-if='user.loginForm.password.$touched'>
        <div ng-message="required">Password is required.</div>
    </div>
    </md-input-container>
    <md-checkbox ng-model="user.rememberMe" aria-label="Checkbox 1">
    Remember me
    </md-checkbox>
    <div layout="row" layout-align="center center">
        <md-button ng-click="user.userLogin()" class="md-raised md-primary" style="color:white;" flex="50" ng-disabled="user.loginForm.$invalid">Submit</md-button>
    </div>
    <div layout="row" layout-align="center center">
        <md-button class="md-accent" flex="50" ui-sref="forgotPassword">Forgot Password ?</md-button>
    </div>
</form>