<md-toolbar style="position:fixed;top:0" ng-controller="navbarCtrl as navbar">
<div class="md-toolbar-tools" layout="row">
	<span flex="15" layout-align="end" layout="row">
	<img ng-src="{{navbar.sideAvatar}}" class="userimage" ng-click="navbar.toggleLeft()" ng-show="navbar.sideAvatar">
	<span flex="10"></span>
	</span>
	<!-- <div class="logo-style" style="">Pyoopil</div> -->
	<a ui-sref="main.dashboard"><img src="assets/images/ic_launcher.png" class="logo" alt=""></a>
</div>
</md-toolbar>