<section>
  <div  class="restrict-content col-lg-10 col-lg-offset-1">You are enrolled into this course, Kindly use Pyoopil's mobile app to Access the course:</div>
  <a class="download-app" href="https://play.google.com/store/apps/details?id=com.pyoopil.pyoopil2&hl=en">
  <md-button class="md-raised md-primary download-app col-lg-10" style="color: white">
    <img class="android-icon" src="images/android.png" alt="">  Download Pyoopil's Android App
  </md-button>
  </a>

  <md-button class="close-button" ng-click="cancel()">
    close
  </md-button>
</section>
