<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu" style="z-index:100;">
<!-- <md-content ng-controller="sidenavCtrl"> -->
<div layout="column" ng-controller="sidenavCtrl as sidenav" flex="grow" style="height:100vh">
	<div class="sidenav-img-background">
		<div layout-align="center" layout="row">
			<img class="userimage-nav" ng-src="{{sidenav.sideAvatar}}"  alt="">
		</div>
		<div layout="row">
			<div flex flex-offset="10">
				<p class="sidenav-username">{{sidenav.sideName}}</p>
				<p class="sidenav-userhandle"> @{{sidenav.sideUsername}}</p>
			</div>
		</div>
	</div>
	<div flex="grow" layout="column" layout-align="space-between" class="sidenav-buttons">
		<md-button ng-click="sidenav.goToDashboard()" md-ink-ripple style="text-align:left" layout="row">
		<img src="assets/images/dashboard.png"><span>My Courses</span>
		</md-button>
		<md-button ng-click="sidenav.logout()" md-ink-ripple style="text-align:left" layout="row">
		<img src="assets/images/logout.png"><span>Logout</span>
		</md-button>
	</div>
</div>
<!-- <a href=""><img class="sidenav-back" src="images/profile-mobile.png" alt=""></a> -->
<!-- </md-content> -->
</md-sidenav>