<form role="form" ng-controller="signupCtrl as sign" name="sign.signupForm">
  <md-input-container>
  <label >Name</label>
  <input type="text" name="name" ng-model="sign.name" required>
  <div ng-messages="sign.signupForm.name.$error" ng-if='sign.signupForm.name.$touched'>
    <div ng-message="required">Name is required.</div>
  </div>
  </md-input-container>
  <md-input-container>
  <label>Username</label>
  <input type="text" name="username" ng-model="sign.username" required>
  <div ng-messages="sign.signupForm.username.$error" ng-if='sign.signupForm.username.$touched'>
    <div ng-message="required">Username is required.</div>
  </div>
  </md-input-container>
  <md-input-container>
  <label >Email address</label>
  <input ng-pattern="app.emailRegex"  name="email" ng-model="sign.email" required>
  <div ng-messages="sign.signupForm.email.$error" ng-if='sign.signupForm.email.$touched'>
    <div ng-message="required">Email is required.</div>
    <div ng-message="pattern">Email is invalid.</div>
  </div>
  </md-input-container>
  <md-input-container>
  <label >Phone</label>
  <input name="phone" ng-model="sign.phone" required>
  <div ng-messages="sign.signupForm.phone.$error" ng-if='sign.signupForm.phone.$touched'>
    <div ng-message="required">Phone is required.</div>
  </div>
  </md-input-container>
  <md-input-container>
  <label >Password</label>
  <input type="password" name="password" ng-model="sign.password" required>
  <div ng-messages="sign.signupForm.password.$error" ng-if='sign.signupForm.password.$touched'>
    <div ng-message="required">Password is required.</div>
  </div>
  </md-input-container>
  <md-input-container>
  <label >Confirm Password</label>
  <input type="password" name="confirmPassword" ui-validate="'$value==sign.password'"
  ui-validate-watch="'sign.password'" required ng-model="sign.confirmPassword">
  <div ng-messages="sign.signupForm.confirmPassword.$error" ng-if='sign.signupForm.confirmPassword.$touched'>
    <div ng-message="required">Confirm Password is required.</div>
    <div ng-message="validator">Password doesn't match.</div>
  </div>
  </md-input-container>
  <div layout="row" layout-align="center center">
    <md-button style="color:white"class="md-primary md-raised" ng-click="sign.signup()" flex="50" ng-disabled="sign.signupForm.$invalid">Submit</md-button>
  </div>
</form>