<div ng-controller="textObjectCtrl as textObject">
  <md-card ng-if="!item.edit">
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <span class="md-headline">{{item.title}}</span>
  </md-card-title-text>
  <span flex="10"></span>
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20" ng-hide="!addConcepts.path.isOwner">
  <md-button class="md-icon-button" aria-label="Edit" ng-click="textObject.showObjectEditing()">
   <md-tooltip md-direction="left">
  Edit
  </md-tooltip>
  <i class="zmdi zmdi-edit"></i>
  </md-button>
  <md-button class="md-icon-button" aria-label="Delete" ng-click="addConcepts.deleteObject($event,$index)">
  <md-tooltip md-direction="right">
  Delete
  </md-tooltip>
  <i class="zmdi zmdi-delete"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <md-card-content>
  <p class="wordwrap">
  {{item.desc}}
  </p>
  </md-card-content>
  </md-card>
  <form name="textObject.editObjectForm"  ng-if="item.edit">
    <md-card >
    <md-card-title layout="row">
    <md-card-title-text flex="70">
    <md-input-container>
    <label>Title</label>
    <input type="text"  ng-model="textObject.objectToBeEdited.title" name="title" md-maxlength="65" minlength="8" required>
    <div ng-messages="textObject.editObjectForm.title.$error" ng-if='textObject.editObjectForm.title.$dirty'>
      <div ng-message="required">Title is required.</div>
      <div ng-message="minlength">Title should have minimum 8 characters.</div>
      <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
    </div>
    </md-input-container>
    </md-card-title-text>
    <span flex="10"></span>
    <!-- cancel and save buttons -->
    <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
    <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="textObject.cancelObjectEditing()">
    <md-tooltip md-direction="left">
    Cancel
    </md-tooltip>
    <i class="zmdi zmdi-close-circle-o"></i>
    </md-button>
    <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="textObject.editObject()" ng-disabled="textObject.editObjectForm.$invalid">
    <md-tooltip md-direction="right">
    Save
    </md-tooltip>
    <i class="zmdi zmdi-check"></i>
    </md-button>
    </md-card-actions>
    </md-card-title>
    <!-- other fields -->
    <md-card-content>
    <md-input-container>
    <label>Description</label>
    <textarea type="text"  ng-model="textObject.objectToBeEdited.desc" name="desc" minlength="20" columns="1" required></textarea>
    <div ng-messages="textObject.editObjectForm.desc.$error" ng-if='textObject.editObjectForm.desc.$dirty'>
      <div ng-message="required">Description is required.</div>
      <div ng-message="minlength">Description should have minimum 20 characters.</div>
    </div>
    </md-input-container>
    </md-card-content>
    </md-card>
  </form>
</div>