<div ng-controller="videoObjectCtrl as videoObject">
  <md-card ng-if="!item.edit">
  <md-card-title layout="row">
  <md-card-title-text flex="70">
  <span class="md-headline">{{item.title}}</span>
  </md-card-title-text>
  <span flex="10"></span>
  <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20" ng-hide="!addConcepts.path.isOwner">
  <md-button class="md-icon-button" aria-label="Edit" ng-click="videoObject.showObjectEditing()">
   <md-tooltip md-direction="left">
  Edit
  </md-tooltip>
  <i class="zmdi zmdi-edit"></i>
  </md-button>
  <md-button class="md-icon-button" aria-label="Delete" ng-click="addConcepts.deleteObject($event,$index)" ng-hide="addConcepts.selected.pos=='0'">
   <md-tooltip md-direction="right">
  Delete
  </md-tooltip>
  <i class="zmdi zmdi-delete"></i>
  </md-button>
  </md-card-actions>
  </md-card-title>
  <youtube code="item.url" height="'350px'"></youtube>
  <md-card-content>
  <p class="wordwrap">
  {{item.desc}}
  </p>
  </md-card-content>
  </md-card>
  <form name="videoObject.editObjectForm"  ng-if="item.edit">
    <md-card >
    <md-card-title layout="row">
    <md-card-title-text flex="70">
    <md-input-container ng-show="videoObject.show">
    <label>Title</label>
    <input type="text"  ng-model="videoObject.objectToBeEdited.title" name="title" md-maxlength="65" minlength="8" required>
    <div ng-messages="videoObject.editObjectForm.title.$error">
      <div ng-message="required">Title is required.</div>
      <div ng-message="minlength">Title should have minimum 8 characters.</div>
      <div ng-message="md-maxlength">Title can have maximum 65 characters.</div>
    </div>
    </md-input-container>
    </md-card-title-text>
    <span flex="10"></span>
    <!-- cancel and save buttons -->
    <md-card-actions class="card-actions" layout="row" layout-align="end" flex="20">
    <md-button class="md-icon-button md-ink-ripple" aria-label="Cancel" ng-click="videoObject.cancelObjectEditing()">
    <md-tooltip md-direction="left">
    Cancel
    </md-tooltip>
    <i class="zmdi zmdi-close-circle-o"></i>
    </md-button>
    <md-button class="md-icon-button md-ink-ripple" aria-label="Save" ng-click="videoObject.editObject()" ng-disabled="videoObject.editObjectForm.$invalid">
    <md-tooltip md-direction="right">
    Save
    </md-tooltip>
    <i class="zmdi zmdi-check"></i>
    </md-button>
    </md-card-actions>
    </md-card-title>
    <youtube code="videoObject.objectToBeEdited.url" height="'350px'" ng-if="videoObject.objectToBeEdited.url"></youtube>
    <!-- other fields -->
    <md-card-content>
    <md-input-container>
    <label>YouTube video URL</label>
    <input type="text"  ng-model="videoObject.objectToBeEdited.url" name="videoUrl" ng-pattern="app.youtubeRegex" ng-blur="videoObject.getPreview()" required>
    <div ng-messages="videoObject.editObjectForm.videoUrl.$error" ng-if='videoObject.editObjectForm.videoUrl.$dirty'>
      <div ng-message="required">URL is required.</div>
      <div ng-message="pattern">URL is not valid.</div>
    </div>
    </md-input-container>
    <md-input-container ng-show="videoObject.show">
    <label>Description</label>
    <textarea type="text"  ng-model="videoObject.objectToBeEdited.desc" name="desc" minlength="20" columns="1" required></textarea>
    <div ng-messages="videoObject.editObjectForm.desc.$error" ng-if='videoObject.editObjectForm.desc.$dirty'>
      <div ng-message="required">Description is required.</div>
      <div ng-message="minlength">Description should have minimum 20 characters.</div>
    </div>
    </md-input-container>
    </md-card-content>
    </md-card>
  </form>
</div>